html {
	background: url("https://github.com/YehEmily/therealboiz/blob/master/css/background_1.jpg") center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
	left-margin: 10%;
	right-margin: 10%;
}

th {
	font-family: 'Karla', sans-serif;
	font-size: 20px;
}

td {
	font-family: 'Karla', sans-serif;
	font-size: 16px;
	vertical-align: baseline;
}

ol {
	text-align: left;
	font-size: 20px;
	font-family: 'Karla', sans-serif;
}

ul {
	text-align: top;
	font-size: 16px;
	font-family: 'Karla', sans-serif;
	list-style-type: square;
}

h1 {
	font-family: 'Bree Serif', serif;
	font-size: 70px;
}

h2 {
	font-family: 'Bree Serif', serif;
	font-size: 30px;
}

div.transparent {
	background: rgba(255, 255, 255, 0.5);
	padding: 0.2%;
	margin: 2%;
}

p {
	font-size: 20px;
	font-family: 'Karla', sans-serif;
}

a {
	font-family: 'Bree Serif', serif;
	font-size: 20px;
	text-decoration: none;
	border-bottom: dotted black 2px;
}

a:link {
	color: black;
}

a:visited {
	color: black;
}

a:hover {
	color: white;
	border-bottom: dotted white 2px;
}

a:active {
	color: white;
	border-bottom: dotted white 2px;
}

/*font-family: 'Lobster', cursive;
font-family: 'Bree Serif', serif;
font-family: 'Pacifico', cursive;
font-family: 'Karla', sans-serif;*/
